<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SDRTrunk_Monitor.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SDRTrunk_Monitor.My.MySettings>
            <setting name="SDRTPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SDRTVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="Watchdog" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="AutoRestart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunExternal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExternalCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="RunTimedExternal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimedExternalCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="ExternalCommandTimer" serializeAs="String">
                <value>3600</value>
            </setting>
            <setting name="TimedExternalMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
        </SDRTrunk_Monitor.My.MySettings>
    </userSettings>
</configuration>
